accelerate>=0.28,<2
datasets>=2.18,<4
gymnasium[box2d]>=0.29,<1.3
huggingface-hub>=0.24,<1
huggingface-sb3>=3,<4
imageio>=2.34,<3
imageio-ffmpeg>=0.5,<1
jupyterlab>=4,<5
matplotlib>=3.8,<4
nltk>=3.8,<4
numpy>=1.26,<3
pandas>=2,<3
scikit-learn>=1.4,<1.7
seaborn>=0.13,<1
stable-baselines3>=2.4,<3
statsmodels>=0.14,<1
tensorflow>=2.16,<3
torch>=2.2,<3
tqdm>=4.66,<5
transformers>=4.46,<5
